*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

:not(:root):fullscreen::backdrop {
    background: radial-gradient(rgba(63,76,119,1), rgba(32,38,57,1));
}

body {
    font-family: Monaco, 'Helvetica Neue', sans-serif;
    background: radial-gradient(rgba(63,76,119,1), rgba(32,38,57,1));
    color: white;

    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;

    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    /* scroll-behavior: smooth; */
}

section {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    scroll-snap-align: start;
    scroll-snap-stop: always;
}

h1 {
    font-size: 4rem;
    margin-bottom: 2em;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h5, h6, p {
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6, p {
    font-weight: normal;
    margin: 0;
}

video, img {
    object-fit: contain;
    max-height: 70vh;
}

a,
a:hover,
a:focus,
a:visited {
    color: inherit;
}

.life-of-a-table {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2em;
    padding: 3em;
    width: 100%;
    min-height: 400px;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    font-size: 1.25rem;
    padding: 1em;
    min-width: 12ch;
}

th {
    text-align: center;
}

td:first-of-type {
    text-align: left;
}

td:last-of-type {
    text-align: right;
}

.infra {
    display: grid;
    grid-template-areas:
        ". two . . ."
        "one . four five six"
        ". three . . .";
    gap: 2em;
    align-items: center;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.box {
    border: 1px solid white;
    width: 250px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.box-hidden {
    border: 1px solid white;
    width: 250px;
    height: 75px;
    display: flex;
    align-items: center;
    padding: 1em;
    opacity: 0;
}

.controls {
    position: absolute;
    bottom: 0;
    right: 0;
}

.control {
    display: flex;
    align-items: center;
    font-size: 0.5rem;
}

.key {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 125px;
    margin-right: 1em;
    padding: 0.25em 0.5em;
    font-size: 0.75rem;
}
